os: osx
language: node_js
env:
  global:
    - _FORCE_LOGS=1
matrix:
  include:
    - osx_image: xcode8.3
      node_js: "8"
      env: COVERALLS=1
    - osx_image: xcode8.3
      node_js: "6"

    - osx_image: xcode9.4
      node_js: "8"
    - osx_image: xcode9.4
      node_js: "6"
script:
  - npm test
after_success:
  - if [ -n "$COVERALLS" ]; then _FORCE_LOGS=0 npm run coverage; fi
