name: Functional Tests

on: [pull_request]

jobs:
  e2e:
    strategy:
      matrix:
        include:
        - os: macos-13
          xcode: '15.0.1'
          ios: '17.2'
          device: iPhone 14
        - os: macos-13
          xcode: '14.3.1'
          ios: '16.4'
          device: iPhone 14
    runs-on: ${{ matrix.os }}
    env:
      PLATFORM_VERSION: ${{ matrix.ios }}
      XCODE_VERSION: ${{ matrix.xcode }}
      DEVICE_NAME: ${{ matrix.device }}
      CI: true
    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ env.XCODE_VERSION }}
    - run: xcrun simctl list
    - uses: actions/setup-node@v3
      with:
        node-version: lts/*
        check-latest: true
    - run: npm install
    - run: |
        export PATH="${PATH}:$(python -c 'import site; print(site.USER_BASE)')/bin"
        _FORCE_LOGS=1 npm run e2e-test
