name: Functional Tests

on: [pull_request]

jobs:
  e2e:
    strategy:
      matrix:
        include:
        - os: macos-11
          xcode: '13.2'
          ios: '15.2'
          device: iPhone 11
        - os: macos-11
          xcode: '12.5'
          ios: '14.5'
          device: iPhone 11
    runs-on: ${{ matrix.os }}
    env:
      PLATFORM_VERSION: ${{ matrix.ios }}
      XCODE_VERSION: ${{ matrix.xcode }}
      DEVICE_NAME: ${{ matrix.device }}
      CI: true
    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ env.XCODE_VERSION }}
    - run: xcrun simctl list
    - uses: actions/setup-node@v3
      with:
        node-version: lts
    - run: npm install
    - run: |
        export PATH="${PATH}:$(python -c 'import site; print(site.USER_BASE)')/bin"
        _FORCE_LOGS=1 npm run e2e-test
